body {
    padding-top: 56px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    background-color: #343a40;
}

.navbar-brand {
    color: #ffffff;
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #ffffff;
}

#charts-container {
    padding: 20px;
}

.card {
    border: none;
}

.chart-container {
    margin-top: 20px;
}

/* Customize the charts */
.chart-container canvas {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Optional: Customize the grid lines and ticks */
.chart-container .chartjs-size-monitor,
.chart-container .chartjs-size-monitor-expand,
.chart-container .chartjs-size-monitor-shrink {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    visibility: hidden;
    z-index: -1;
}

.chart-container .chartjs-grid {
    color: rgba(255, 255, 255, 0.1);
}

.chart-container .chartjs-tick {
    color: #495057;
}

.chart-container .chartjs-tick-axis {
    color: #343a40;
}

.chart-container .chartjs-axis-title {
    color: #343a40;
}

/* Responsive styles */
@media (max-width: 768px) {
    #charts-container {
        padding: 10px;
    }

    .chart-container canvas {
        border-radius: 8px;
    }
}
